{
  "presets": ["next/babel"],
  "plugins": ["jsx-control-statements", ["@babel/plugin-proposal-decorators", { "legacy": true }]],
  "env": {
    "test": {
      "plugins": ["babel-plugin-istanbul"]
    }
  }
}
